:root {
  --background: #F7FAF8;

  --white: #FFFFFF;
  --black: #000000;
  --soft-white: #FAFAFA;
  /* Warm beeige RGB 246, 240, 235 */
  --warm-beige: #F6F0EB;
  /* Soft grey RGB  90, 90, 83 */
  --soft-grey: #393939;
  --dark-grey: #1d1d1d;

  --green-1: #1D3131;

  /* green 2 RGB 220, 234, 203 */
  --green-2: #DCEACB; 
  --green-3: #627A7A;

  /* #326D6D */
  --primary: #318181;
  --secondary: #D6E4DD;

  --muted: #EBF1EE;
  --accent: #F29E7F;

  --destructive: #FF4C4C;

  --border: rgb(247, 250, 248);
  --input: #E1EAE6;

  --fs-section: 2.25rem;
  --fs-h3: 1.5rem;

  --lh-section: 2.5rem;
  --lh-h3: 2rem;

  --fc-footer-heading: #F5F9F7;
  --fc-footer-text: #F5F9F7B2;

  --radius: 0.75rem;

  --fw-light: 400;
  --fw-medium: 500;
  --fw-medium-2: 600;
  --fw-dark: 700;

  --sidebar-background: #FAFAFA;
  --sidebar-foreground: #3E3F44;
  --sidebar-primary: #18181B;
  --sidebar---white: #FAFAFA;
  --sidebar-accent: #F4F4F6;
  --sidebar-accent-foreground: #18181B;
  --sidebar-border: #E6E9F0;
  --sidebar-ring: #508CFF;
}

body.dark {
  /* Base colors */
  --background: hsl(200, 15%, 12%);       /* #1a1f23 */
  --foreground: hsl(45, 20%, 90%);        /* #eae6dc */
  --card: hsl(200, 15%, 15%);             /* #21272c */

  /* Brand colors */
  --primary: hsl(175, 35%, 50%);          /* #53aca3 */
  --secondary: hsl(200, 12%, 20%);        /* #2d3539 */

  /* UI colors */
  --muted: hsl(200, 12%, 22%);            /* #313a3f */
  --muted-foreground: hsl(45, 15%, 65%);  /* #b0ab9b */
  --accent: hsl(15, 65%, 60%);            /* #d5805d */
  --border: hsl(200, 12%, 25%);           /* #384147 */
}