:root {
  --background: 45 20% 97%;

  --white: #FFFFFF;
  --black: #000000;
  --soft-white: #FAFAFA;
  --soft-white2: #FAFAFA;
  /* Warm beeige RGB 246, 240, 235 */
  --warm-beige: #F6F0EB;
  /* Soft grey RGB  90, 90, 83 */
  --soft-grey: #393939;
  --soft-grey2: #393939;
  --dark-grey: #1d1d1d;

  --green-1: #1D3131;
  --green-1a: #1D3131;
  --green-1b: #1D3131;

  /* green 2 RGB 220, 234, 203 */
  --green-2: #DCEACB; 
  --green-3: #627A7A;

  /* #326D6D */
  --primary: #318181;
  --primary2: #318181;
  --secondary: #D6E4DD;

  --muted: #EBF1EE;
  --muted2: #EBF1EE;
  --accent: #F29E7F;

  --destructive: #FF4C4C;

  --border: rgb(247, 250, 248);
  --input: #E1EAE6;

  --fs-section: 2.25rem;
  --fs-h3: 1.375rem;

  --lh-section: 2.5rem;
  --lh-h3: 2rem;

  --fc-footer-heading: #F5F9F7;
  --fc-footer-text: #F5F9F7B2;

  --radius: 0.75rem;

  --fw-light: 400;
  --fw-medium: 500;
  --fw-medium-2: 600;
  --fw-dark: 700;

  --card: 40 15% 99%;

  --sidebar-background: #FAFAFA;
  --sidebar-foreground: #3E3F44;
  --sidebar-primary: #18181B;
  --sidebar---white: #FAFAFA;
  --sidebar-accent: #F4F4F6;
  --sidebar-accent-foreground: #18181B;
  --sidebar-border: #E6E9F0;
  --sidebar-ring: #508CFF;
}

body.dark {
  /* Base colors */
  --background: 200 15% 12%;
  --green-1: #f5f9f7;
  --green-1a: hsl(200 15% 12%);

  --soft-grey: #9ba8b4;
  --soft-grey2: #1d1d1d;
  --border: #27323a;
  --soft-white2: hsl(200 15% 12%);

   /* Cards + surfaces */
  --white: #11171c;
  --muted: #2D35394C;
  --muted2: hsl(200 12% 22%);
  --card: 200 15% 15%;

  /* Brand colors */
  --primary: #53aca3;
  --primary2: #FAFAFA;
  --secondary: #1b3b3b;

  /* Accent + footer text */
  --accent: #f29e7f;
  --fc-footer-heading: #f5f9f7;
  --fc-footer-text: #9fb3bf;
}
